@inherits LayoutComponentBase
<RadzenComponents @rendermode="InteractiveServer" />

<div class="page">
    <main>
        <RadzenNotification />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
