USE [master]
GO
/****** Object:  Database [Szakdolgozat(Szerelest_segito_BlazorApp)]    Script Date: 2025. 03. 05. 23:09:02 ******/
CREATE DATABASE [Szakdolgozat(Szerelest_segito_BlazorApp)]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Szakdolgozat(Szerelest_segito_BlazorApp)', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Szakdolgozat(Szerelest_segito_BlazorApp).mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Szakdolgozat(Szerelest_segito_BlazorApp)_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Szakdolgozat(Szerelest_segito_BlazorApp)_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Szakdolgozat(Szerelest_segito_BlazorApp)].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Szakdolgozat(Szerelest_segito_BlazorApp)]
GO
/****** Object:  Table [dbo].[Autok]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autok](
	[ID] [uniqueidentifier] NOT NULL,
	[Marka] [nvarchar](50) NOT NULL,
	[Rendszam] [varchar](20) NOT NULL,
	[Tipus] [nvarchar](50) NOT NULL,
	[Uzemanyag] [nvarchar](30) NOT NULL,
	[Motor] [nvarchar](50) NOT NULL,
	[AlvazSzam] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Autok] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoTulajok]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoTulajok](
	[ID] [uniqueidentifier] NOT NULL,
	[Telefonszam] [varchar](20) NOT NULL,
	[Nev] [nvarchar](50) NOT NULL,
	[Leiras] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[AutoID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AutoTulajok] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Autok_TulajNev_View]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Autok_TulajNev_View]
AS
SELECT dbo.Autok.AlvazSzam, dbo.AutoTulajok.Nev AS AutoTulaj, dbo.Autok.Marka, dbo.Autok.Rendszam, dbo.Autok.Tipus, dbo.Autok.Uzemanyag, dbo.Autok.Motor
FROM     dbo.Autok INNER JOIN
                  dbo.AutoTulajok ON dbo.Autok.ID = dbo.AutoTulajok.AutoID
GO
/****** Object:  Table [dbo].[MunkaFolyamatok]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MunkaFolyamatok](
	[ID] [uniqueidentifier] NULL,
	[MunkaID] [uniqueidentifier] NULL,
	[Folyamat] [varchar](max) NULL,
	[Koltseg] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Osszkoltseg_View]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Osszkoltseg_View]
AS
SELECT SUM(dbo.MunkaFolyamatok.Koltseg) AS Osszkoltseg
FROM     dbo.MunkaFolyamatok
                  


GO
/****** Object:  Table [dbo].[Felhasznalok]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Felhasznalok](
	[ID] [uniqueidentifier] NOT NULL,
	[Felhasznalonev] [nvarchar](50) NOT NULL,
	[Nev] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Jelszo] [nvarchar](max) NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rolek]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rolek](
	[ID] [uniqueidentifier] NOT NULL,
	[RoleNev] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Admin_(/felhasznalok)_View]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Admin_(/felhasznalok)_View]
AS
SELECT TOP (100) PERCENT dbo.Felhasznalok.Felhasznalonev, dbo.Felhasznalok.Nev, dbo.Felhasznalok.Email, dbo.Felhasznalok.Jelszo, dbo.Rolek.RoleNev
FROM     dbo.Felhasznalok LEFT OUTER JOIN
                  dbo.Rolek ON dbo.Felhasznalok.RoleID = dbo.Rolek.ID
GO
/****** Object:  View [dbo].[Admin_(/tulajok)_View]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Admin_(/tulajok)_View]
AS
SELECT dbo.AutoTulajok.Nev AS AutoTulaj, dbo.AutoTulajok.Telefonszam, dbo.AutoTulajok.Email, dbo.Autok.Marka, dbo.Autok.Rendszam, dbo.Autok.Tipus, dbo.Autok.Uzemanyag, dbo.Autok.Motor, dbo.Autok.AlvazSzam, 
                  dbo.AutoTulajok.Leiras
FROM     dbo.Autok INNER JOIN
                  dbo.AutoTulajok ON dbo.Autok.ID = dbo.AutoTulajok.AutoID
GO
/****** Object:  Table [dbo].[MunkaKapcsolatok]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MunkaKapcsolatok](
	[ID] [uniqueidentifier] NOT NULL,
	[TitkarID] [uniqueidentifier] NOT NULL,
	[SzereloID] [uniqueidentifier] NOT NULL,
	[MunkaID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Munkalapok]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Munkalapok](
	[ID] [uniqueidentifier] NOT NULL,
	[AutoTulajID] [uniqueidentifier] NOT NULL,
	[AutoID] [uniqueidentifier] NOT NULL,
	[MunkaKezdete] [datetime] NOT NULL,
	[MunkaIdo] [int] NOT NULL,
	[Keltezes] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Admin_(/munkalapok_View)]    Script Date: 2025. 03. 05. 23:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Admin_(/munkalapok_View)]
AS
SELECT dbo.AutoTulajok.Nev AS AutoTulaj, dbo.Autok.Marka, dbo.Autok.Rendszam, dbo.Autok.Tipus, dbo.Autok.Uzemanyag, dbo.Autok.Motor, dbo.Autok.AlvazSzam, dbo.Felhasznalok.Nev AS SzereloNev, dbo.Felhasznalok.Nev AS TitkarNev, 
                  dbo.Osszkoltseg_View.Osszkoltseg, dbo.Munkalapok.MunkaKezdete, dbo.Munkalapok.[MunkaIdo], dbo.Munkalapok.Keltezes
FROM     dbo.Felhasznalok INNER JOIN
                  dbo.MunkaKapcsolatok ON dbo.Felhasznalok.ID = dbo.MunkaKapcsolatok.TitkarID AND dbo.Felhasznalok.ID = dbo.MunkaKapcsolatok.SzereloID INNER JOIN
                  dbo.Munkalapok ON dbo.MunkaKapcsolatok.MunkaID = dbo.Munkalapok.ID INNER JOIN
                  dbo.MunkaFolyamatok ON dbo.Munkalapok.ID = dbo.MunkaFolyamatok.MunkaID INNER JOIN
                  dbo.Rolek ON dbo.Felhasznalok.RoleID = dbo.Rolek.ID INNER JOIN
                  dbo.Autok INNER JOIN
                  dbo.AutoTulajok ON dbo.Autok.ID = dbo.AutoTulajok.AutoID ON dbo.Munkalapok.AutoTulajID = dbo.AutoTulajok.ID AND dbo.Munkalapok.AutoID = dbo.Autok.ID CROSS JOIN
                  dbo.Osszkoltseg_View

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Felhasznalok"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 243
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Rolek"
            Begin Extent = 
               Top = 7
               Left = 291
               Bottom = 126
               Right = 485
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/felhasznalok)_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/felhasznalok)_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[16] 4[62] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Autok"
            Begin Extent = 
               Top = 314
               Left = 813
               Bottom = 564
               Right = 1007
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AutoTulajok"
            Begin Extent = 
               Top = 17
               Left = 338
               Bottom = 270
               Right = 532
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Felhasznalok"
            Begin Extent = 
               Top = 352
               Left = 479
               Bottom = 611
               Right = 674
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MunkaFolyamatok"
            Begin Extent = 
               Top = 415
               Left = 1316
               Bottom = 578
               Right = 1510
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MunkaKapcsolatok"
            Begin Extent = 
               Top = 0
               Left = 828
               Bottom = 163
               Right = 1022
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Munkalapok"
            Begin Extent = 
               Top = 171
               Left = 1089
               Bottom = 405
               Right = 1283
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Rolek"
            Begin Extent = 
               Top = 347
               Left = 221
               Bottom = 466
               Right = 415
            E' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/munkalapok_View)'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'nd
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Osszkoltseg_View"
            Begin Extent = 
               Top = 205
               Left = 78
               Bottom = 302
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 3348
         Alias = 1692
         Table = 1608
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/munkalapok_View)'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/munkalapok_View)'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[15] 4[46] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Autok"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 249
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AutoTulajok"
            Begin Extent = 
               Top = 0
               Left = 416
               Bottom = 251
               Right = 610
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/tulajok)_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Admin_(/tulajok)_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[24] 4[37] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Autok"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 246
               Right = 242
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AutoTulajok"
            Begin Extent = 
               Top = 28
               Left = 347
               Bottom = 258
               Right = 541
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Autok_TulajNev_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Autok_TulajNev_View'
GO
USE [master]
GO
