/* _content/BlazorApp6/Components/Layout/MainLayout.razor.rz.scp.css */
h1[b-43wus3v2du]{
    color: red;
}
/* _content/BlazorApp6/Components/Pages/Home.razor.rz.scp.css */
h1[b-3dareyofg2] {
    color: red;
    background-color:aqua;
}
