/* _content/SzakDolgozat/Components/App.razor.rz.scp.css */
body[b-qx9drh8u4j] {
    background-color: antiquewhite;
    height: 100%;
    color: white;
}
/* _content/SzakDolgozat/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-yzlp9qlq2i] {
    position: relative;
    display: flex;
    flex-direction: column;

}

main[b-yzlp9qlq2i] {
    flex: 1;
}

#blazor-error-ui[b-yzlp9qlq2i] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-yzlp9qlq2i] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* _content/SzakDolgozat/Components/Pages/Home.razor.rz.scp.css */
html[b-s3e0n5bl3f]{
    background-color:antiquewhite;
}
/* _content/SzakDolgozat/Components/Pages/Login.razor.rz.scp.css */


#id="text_textbox"[b-0qpt97wp5p] {
    background-color: rgba(119, 104, 113, 1);
    border-radius: 20px;
}

form[b-0qpt97wp5p] {
    background-color: gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 8px;
}

label[b-0qpt97wp5p] {
    color: black;
    font-size: larger;
}

input[b-0qpt97wp5p] {
    margin-bottom: 6px;
    border-radius: 8px;
}

h1[b-0qpt97wp5p] {
    text-align: center;
    color: white;
}

#button[b-0qpt97wp5p] {
    text-align: center;
}

#Bejelentkezes[b-0qpt97wp5p] {
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    color: white;
}

#Bejelentkezes:hover[b-0qpt97wp5p] {
    background-color: darkgray;
    color: white;
    transition-duration: 0.5s;
}
a[b-0qpt97wp5p]{
    margin-top: 5px;
}
/* _content/SzakDolgozat/Components/Pages/Registration.razor.rz.scp.css */

#id="text_textbox"[b-5ykacv9ikv] {
    background-color: rgba(119, 104, 113, 1);
    border-radius: 20px;
}
form[b-5ykacv9ikv] {
    background-color: gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 8px;
}
label[b-5ykacv9ikv]{
    color:black;
    font-size:larger;
}
input[b-5ykacv9ikv] {
    margin-bottom: 6px;
    border-radius: 8px;
}
h1[b-5ykacv9ikv]{
    text-align:center;
    color:white;
}
#button[b-5ykacv9ikv] {
    text-align: center;
}
#Regisztracio[b-5ykacv9ikv] {
    padding-left: 100px;
    padding-right: 100px;
    background-color:black;
    color:white;
}
    #Regisztracio:hover[b-5ykacv9ikv] {
        background-color: darkgray;
        color: white;
        transition-duration: 0.5s;
    }
a[b-5ykacv9ikv] {
    margin-top: 5px;
}

asd[b-5ykacv9ikv]{
    border-style:double;
}
