<h3>AdminPage</h3>

@page "/admin"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<RadzenCard>
    <h3>Admin Felület</h3>
    <div class="d-flex flex-column gap-2">
        <RadzenButton Text="Felhasználók" class="rz-button rz-button-danger" Click="@(() => OnNavigateTo($"/admin/felhasznalok"))" />
        <RadzenButton Text="Munkalapok" class="rz-button rz-button-danger" Click="@(() => OnNavigateTo($"/admin/munkalapok"))" />
        <RadzenButton Text="Tulajok" class="rz-button rz-button-danger" Click="@(() => OnNavigateTo($"/admin/tulajok"))" />
        <RadzenButton class="my-3" Icon="assignment_ind" Text="Vissza" Click="@(() => OnNavigateTo($"/Bejelentkezes"))" />
    </div>
</RadzenCard>

@code {

    public void OnNavigateTo(string page)
    {
        Navigation.NavigateTo(page);
    }
}
