<h3>AdminPage</h3>

@page "/admin"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<RadzenCard>
    <h3>Admin Felület</h3>
    <div class="d-flex flex-column gap-2">
        <RadzenButton Text="Felhasználók" class="rz-button rz-button-danger" Click="@NavigateToFelhasznalok" />
        <RadzenButton Text="Munkalapok" class="rz-button rz-button-danger" Click="@NavigateToMunkalapok" />
        <RadzenButton Text="Tulajok" class="rz-button rz-button-danger" Click="@NavigateToTulajok" />
    </div>
</RadzenCard>

@code {
    void NavigateToFelhasznalok()
    {
        Navigation.NavigateTo("/admin/felhasznalok");
    }

    void NavigateToMunkalapok()
    {
        Navigation.NavigateTo("/admin/munkalapok");
    } 
    void NavigateToTulajok()
    {
        Navigation.NavigateTo("/admin/tulajok");
    }
}
