@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 col-lg-4 col-sm-12">
            <h1>Föoldal</h1>
            <a href="/Regisztráció">Regisztráció</a>
            <a href="/Bejelentkezés">Bejelentkezés</a>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
