@page "/"

<PageTitle>Home</PageTitle>

<div class="container" style="background-color:antiquewhite">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 col-lg-4 col-sm-12" style="">
            <h1 style="color:black; text-align:left">Főoldal</h1>
            <a href="/Regisztracio" style="text-decoration:none; color:black">Regisztráció</a>
             <a href="/Bejelentkezes" style="text-decoration:none; color:black; border:solid, 1px">Bejelentkezés</a>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
