@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject SzakDolgozat.SQL.Interfaces.IRole Role_Service


<PageTitle>Home</PageTitle>

<div class="rz-p-sm-12" style="margin-bottom: 200px;">
    <RadzenButton class="my-3" Icon="login" Text="Bejelentkezés" Click="@OnLoginClick" />


</div>

@code {
    void OnLoginClick()
    {
        Navigation.NavigateTo("/Bejelentkezes");
    } 
}