@page "/Bejelentkezes"

<RadzenTheme Theme="material" />
<PageTitle>Bejelentkezés</PageTitle>
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject NotificationService NotificationService
@inject SzakDolgozat.SQL.Interfaces.IFelhasznalo Felhasznalo_Service
@using SzakDolgozat.SQL.Models
@using SzakDolgozat.SQL.Security

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 col-lg-4 col-sm-12">
            <h1 style="color:black">Bejelentkezés</h1>
            <RadzenCard class="rz-my-12 rz-mx-auto" Style="max-width: 400px;">

                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Felhasználónév</RadzenText>
                <RadzenTextBox Style="width: 100%" aria-label="Felhasználónév" @bind-Value="bejelentkezettfelhasznaloNev" />

                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Jelszó</RadzenText>
                <RadzenPassword Style="width: 100%" aria-label="Jelszó" @bind-Value="jelszo"/>

                <RadzenButton ButtonType="ButtonType.Submit" Icon="login" Text="Bejelentkezés" Click="OnLogin" Style="margin-top:10px; width:100%;" />

            </RadzenCard>
        </div>
    </div>
</div>



@code {
    public string bejelentkezettfelhasznaloNev;
    public static Guid bejelentkezettRoleID;
    public static string jelszo;


    //private static readonly Guid ADMIN_ROLE_GUID = ; // Itt cseréld le az admin role ID-t
    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

    private async Task OnLogin()
    {
        var felhasznalo = (await Felhasznalo_Service.GetFelhasznalok())
            .FirstOrDefault(f => f.Felhasznalonev == bejelentkezettfelhasznaloNev && PasswordSecurity.ValidatePassword(jelszo,f.Jelszo));
        if (bejelentkezettfelhasznaloNev == null)
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Hiba",
                    Detail = "A név megadása kötelező!",
                    Duration = 3000,

                });
            return;
        }
        else if(jelszo == null)
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Hiba",
                    Detail = "A Jelszó megadása kötelező!",
                    Duration = 3000,

                });
            return;
        }else if(felhasznalo == null)
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Hiba",
                    Detail = "Hibás jelszó vagy felhasználónév",
                    Duration = 3000,

                });
        }
        else
        {
            bejelentkezettfelhasznaloNev = felhasznalo.Felhasznalonev;
            bejelentkezettRoleID = felhasznalo.RoleID;

            if (bejelentkezettRoleID == Guid.Parse("9df11d9d-c1bf-40a1-9599-e2333e630583"))
            {
                Navigation.NavigateTo("/admin");
            }
            else
            {
                var url = $"/users?bejelentkezettfelhasznaloNev={Uri.EscapeDataString(bejelentkezettfelhasznaloNev)}&bejelentkezettRoleID={bejelentkezettRoleID}";
                Navigation.NavigateTo(url);
            }
        }
        
    }
}