@page "/Bejelentkezés"

<PageTitle>Bejelentkezés</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 col-lg-4 col-sm-12">
            <h1>Bejelentkezés</h1>
            <form>
                <div id="text_textbox">
                    <label>Név</label><br />
                    <input type="text" id="nev" class="form-control" name="nev" required /><br />
               </div>
                <div id="text_textbox">
                    <label>Jelszó</label><br />
                    <input type="password" id="jelszo" class="form-control" name="jelszo" required /><br />
                </div>
                <div id="button">
                    <input type="submit" value="Bejelentkezés" id="Bejelentkezes" class="btn btn-lg btn-outline-dark" name="Bejelentkezes" required /><br />
                </div>
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>