
@page "/Regisztracio"
<RadzenTheme Theme="material"  />


<PageTitle>Regisztráció</PageTitle>

<div class="container" style="background-color:antiquewhite">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 col-lg-4 col-sm-12">
            <h1>Regisztráció</h1>

            <form>
                <div id="text_textbox">
                    <label>Név</label><br />
                    <input type="text" id="nev" class="form-control" name="nev" required /><br />
                </div>
                <div id="text_textbox">
                    <label>Munkahely</label><br />
                    <input type="text" id="munkahely" class="form-control" name="munkahely" required /><br />
                </div>
                <div id="text_textbox">
                    <label>Email</label><br />
                    <input type="email" id="email" class="form-control" name="email" required /><br />
                </div>
                <div class="rz-p-12 rz-text-align-center">
                    <label>Jelszó</label><br />
                    <RadzenPassword @bind-Value=value Placeholder="Enter password..." aria-label="enter password"  style="border-radius: 15px;" required/>
                </div>
                <br />

                <div id="button">
                    <input type="submit" value="Regisztráció" id="Regisztracio" class="btn btn-lg btn-outline-dark" name="Regisztracio" required /><br />
                </div>
            </form>
        </div>
        <div class="col-4">
            <a href="/Bejelentkezes">Bejelentkezes</a>
        </div>
    </div>
</div>


