@page "/worker"
@rendermode InteractiveServer
<div class="rz-p-sm-12" style="margin-bottom: 200px;">
    <RadzenMenu Click="OnParentClicked">

        <RadzenMenuItem Text="Lehetőségek">
            <RadzenLink Path="/profiles" Text="Profil" /><br />
            <RadzenLink Path="/szerelo" Text="Munka" />

        </RadzenMenuItem>
    </RadzenMenu>
</div>

@code {
    EventConsole console;

    void OnParentClicked(MenuItemEventArgs args)
    {
        //console.Log($"{args.Text} clicked from parent");
    }

    void OnChildClicked(MenuItemEventArgs args)
    {
        // console.Log($"{args.Text} from child clicked");
    }
}
