@page "/szerelo"


<div class="rz-p-sm-12" style="margin-bottom: 200px;">
    <RadzenMenu Click="OnParentClicked">

        <RadzenMenuItem Text="Lehetőségek">
            <RadzenLink Path="/finished" Text="Befejezett" /><br />
            <RadzenLink Path="/started" Text="Elkezdett " />
            <RadzenLink Path="/workflow" Text="Munkafolyamat " />

        </RadzenMenuItem>
    </RadzenMenu>
</div>
@code {
    EventConsole console;

    void OnParentClicked(MenuItemEventArgs args)
    {
        //console.Log($"{args.Text} clicked from parent");
    }

    void OnChildClicked(MenuItemEventArgs args)
    {
        // console.Log($"{args.Text} from child clicked");
    }
}
