@page "/"

<PageTitle>Regisztráció</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4 col-lg-4 col-sm-12">
            <h1>Regisztráció</h1>
            <form>
                <label>Név:</label><br />
                <input type="text" id="nev" name="nev" required /><br />
                <label>Munkahely:</label><br />
                <input type="text" id="munkahely" name="munkahely" required /><br />
                <label>Email:</label><br />
                <input type="email" id="email" name="email" required /><br />
                <label>Jelszó:</label><br />
                <input type="password" id="jelszo" name="jelszo" required /><br />
                <input type="submit" value="Regisztráció" id="Regisztracio" name="Regisztracio" required /><br />
            </form>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

@code{

}
